<!DOCTYPE html>
<html lang="es">
    <meta charset="UTF-8">
    <title>CRM - Gestión de Reservas</title>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/personal.css"> </head>
<body>
    <div class="app-container">
        <div class="sidebar-container"></div>
        <main class="main-content">
            <header class="top-bar">
                <h1>Reservas Telefónicas</h1>
                <div class="user-profile">
                    <span id="txt-user-role">Rol: Administrador</span>
                </div>
            </header>
            <section class="personal-section">
                <section class="personal-section form-section">
            </section>
        </main>
    </div>